.login{
    width: 40%;
    margin-left:30%;
    margin-top:10%;
    
}
.pre{
    background-color:  #FFC312 !important;
    color:black !important
}
.ig {
    margin-top: 15px;
    margin-bottom: 15px;
}
.loginn{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
