.addcat{
    width: 35%;
    margin-left:32.5%;
    margin-top:10%
}

.btns {
    margin-top:25px;
}
.loginn{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.pre{
    background-color:  #FFC312 !important;
    color:black !important
}