.btn{
    margin-left:15px;
    
}

.manage{
    width: 50%;
    margin-left:25%;
    margin-top:5%
}
.loginn{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.pre{
    background-color:  #FFC312 !important;
    color:black !important
}